@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #141414;
  --color-white: #f3f3f3;
  ---color-black: #141414;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-black: var(--color-black);
  --text-white: var(--color-white);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 
header{
  height: 15vh;
  width: 100%;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
  Helvetica, Arial, "Lucida Grande", sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.1em;
  font-weight: 450;
}
